body
{
	font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
    background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}
.vertical-center
{
  display: flex;
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
}
.regForm
{
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 1px 4px 20px rgba(0,0,0,0.3);
	transition: box-shadow .3s ease-in-out;
}
.regForm:hover
{
	box-shadow: 1px 4px 20px rgba(0,0,0,1);
}
.container-lg
{
	max-width: 728px;	
}
.profileImageParent
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 25px;
	position: relative;
}
.profileImage
{
	background-color: #fff;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-image: url(../img/default_profile.svg);
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #d5d5d5;
	transition: border .3s ease-in-out;
}
.profileImageChange
{
	cursor: pointer;
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-image: url(../img/change_photo_icon.png);
	-webkit-background-size: 30%;
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #f5f5f5;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border: 1px solid #c5c5c5;
}
.profileImageChange:hover
{
	opacity: 0.6;
	-webkit-animation: photoChoose 1s infinite;
	-o-animation: photoChoose 1s infinite;
	animation: photoChoose 1s infinite;
}
@keyframes photoChoose
{
	0%
	{
		-webkit-background-size: 30%;
		background-size: 30%;
	}
	50%
	{
		-webkit-background-size: 20%;
		background-size: 20%;
	}
	100%
	{
		-webkit-background-size: 30%;
		background-size: 30%;
	}
}